.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#controller {
  display: none;
}

.flex-template {
  height: inherit;
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.midDiv {
  justify-content: center;
  flex-direction: column;
}

.leftDiv {
  justify-content: space-evenly;
  flex-direction: column;
}

.rightDiv {
  flex-direction: column;
  padding-top: 40px;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
